/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes pointer {
    from {
      translate: 0;
    }
    to {
      translate: 4px;
    }
}

.sparks {
    filter: opacity(0);
}

.contour {
    fill: var(--heart-contour-color, #000);
}

.like-icon.is-liked .core {
    fill: var(--heart-body-color, #FF0000);
}

.like-icon.is-liked .main-body {
    fill: var(--heart-body-color, #FF0000);
}

.like-icon.is-liked .contour {
    fill: var(--heart-body-color, #FF0000); 
}

.like-icon.is-liked:active .core {
    fill: var(--heart-body-color, #FF0000);
    transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked:active .main-body {
    fill: var(--heart-body-color, #FF0000);
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked:active .contour {
    fill: var(--heart-contour-color, #000);
    transition: fill 0.3s linear 0.06s;
}

.card__icon-button:hover .core {
    fill: var(--heart-contour-color, #000);
    transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .main-body {
    fill: var(--heart-contour-color, #000);
    transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .contour {
    fill: var(--heart-contour-color, #000);
    transition: fill 0.3s linear 0.05s;
}

.like-icon .contour {
    fill: var(--heart-contour-color, #000);
    transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
    animation: heartPulse 0.3s ease-in 0.1s alternate;
    transform-origin: center;
}

@keyframes heartPulse {
    0% {
        transform: scale(1);

    }
    100% {
        transform: scale(1.5);
    }
}

.like-icon.is-liked .sparks {
    animation: heartSparks 0.3s ease-in 0.3s alternate;
}

@keyframes heartSparks {
    from {
        filter: opacity(0);
    }
  
    to {
        filter: opacity(1);
    }
}